<h1>API Todo</h1>
<div *ngIf="data_TodoApi">
  <div *ngFor="let item of data_TodoApi">
    <p>User ID: {{ item.id }}</p>
    <p>Title: {{ item.title }}</p>
    <p>Completed: {{ item.done }}</p>
    <hr>
  </div>
</div>

<br> <hr> <hr> <hr>

<h1>API Funcionario</h1>
<div *ngIf="data_FuncApi">
  <div *ngFor="let item of data_FuncApi">
    <p>ID: {{ item.id }}</p>
    <p>Nome: {{ item.nome }}</p>
    <p>Sobrenome: {{ item.sobrenome }}</p>
    <p>Departamento: {{ item.departamento }}</p>
    <p>Turno: {{ item.turno }}</p>
    <p>Data de Criação: {{ item.dataDeCriacao }}</p>
    <p>Data de Atualização: {{ item.dataDeAlteracao }}</p>
    <p>Está ativo? {{ item.ativo }}</p>
    <hr>
  </div>
</div>

<br> <hr> <hr> <hr>

<h1>API Site</h1>
<div *ngIf="data">
  <div *ngFor="let item of data">
    <p>User ID: {{ item.id }}</p>
    <p>Title: {{ item.title }}</p>
    <p>Completed: {{ item.completed }}</p>
    <hr>
  </div>
</div>


<!-- <div>
  {{ data }}
</div> -->

<!--
<div>
  ID: {{ data.id }}<br>Título: {{ data.title }}
</div>
 -->


<!--
<app-root *ngFor="let datinha of data">
  ID: {{ datinha.id }}<br>Título: {{ datinha.title }}
</app-root>

<div *ngFor="let datinha of data">
  {{ datinha }}
</div> -->
